.service-img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 10px;
}
.card-body{
    background-color: rgb(188, 235, 231);
}
.card-border{
    border: 1px solid rgb(13, 66, 68);
}
.card-transform{
    transition: 0.5s ease-in-out;
    
}
.card-transform:hover{
    transform: translateY(-10px);
    
}